vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|04 Apr 2011 22:55:47 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|CSET0111782\\tlfields
vti_modifiedby:SR|CSET0111782\\tlfields
vti_timecreated:TR|13 Jan 2011 00:22:46 -0000
vti_nexttolasttimemodified:TW|04 Apr 2011 22:54:19 -0000
vti_backlinkinfo:VX|cmr2/cmr_banner2T-2.html cmr2/cmr_indexT.html
vti_cacheddtm:TX|04 Apr 2011 22:55:47 -0000
vti_filesize:IR|4918
vti_cachedlinkinfo:VX|S|/csetgraduate/graphics/background.jpg S|/csetgraduate/graphics/background.jpg S|/csetgraduate/graphics/LEFTNAVlongbar.gif S|/csetgraduate/graphics/background.jpg S|../csetnews/images/glossyback.gif S|../csetnews/graphics/glossyback2.jif S|../csetnews/images/glossyback.gif S|../csetnews/graphics/glossyback2.jif
vti_cachedsvcrellinks:VX|NSUS|file:///csetgraduate/graphics/background.jpg NSUS|file:///csetgraduate/graphics/background.jpg NSUS|file:///csetgraduate/graphics/LEFTNAVlongbar.gif NSUS|file:///csetgraduate/graphics/background.jpg FSUS|csetnews/images/glossyback.gif NSUS|csetnews/graphics/glossyback2.jif FSUS|csetnews/images/glossyback.gif NSUS|csetnews/graphics/glossyback2.jif
