vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|28 Feb 2011 18:25:45 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|User-PC\\User
vti_modifiedby:SR|CSET0111782\\tlfields
vti_timecreated:TR|23 Jan 2011 03:46:39 -0000
vti_nexttolasttimemodified:TW|28 Feb 2011 18:25:31 -0000
vti_backlinkinfo:VX|cmr2/cmr_banner2T-2.html cmr2/cmr_indexT.html
vti_cacheddtm:TX|28 Feb 2011 18:26:06 -0000
vti_filesize:IR|1552
