vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|02 Mar 2011 04:45:37 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|
vti_author:SR|CSET0111782\\tlfields
vti_modifiedby:SR|CSET0111782\\tlfields
vti_timecreated:TR|02 Mar 2011 04:30:06 -0000
vti_nexttolasttimemodified:TR|02 Mar 2011 04:30:06 -0000
vti_cacheddtm:TX|02 Mar 2011 04:46:17 -0000
vti_filesize:IR|3347
vti_cachedlinkinfo:VX|S|shade.gif S|shadeactive.gif S|indentbg.gif S|indentbg2.gif
vti_cachedsvcrellinks:VX|FSUS|cmr2/shade.gif NSUS|cmr2/shadeactive.gif FSUS|cmr2/indentbg.gif FSUS|cmr2/indentbg2.gif
