UNKNOWN {
	DISPLAY: none
}
UL.pureCssMenu UL {
	DISPLAY: none
}
UL.pureCssMenu LI:hover > UL {
	DISPLAY: block
}
UL.pureCssMenu UL {
	POSITION: absolute; TOP: -1px; LEFT: 98%
}
UL.pureCssMenu UL UL {
	POSITION: absolute; TOP: -2px; LEFT: 98%
}
UL.pureCssMenu {
	BORDER-BOTTOM: 0px solid; BORDER-LEFT: 0px solid; PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #313131; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 1px; BACKGROUND-REPEAT: repeat; BORDER-TOP: 0px solid; BORDER-RIGHT: 0px solid; PADDING-TOP: 0px
}
UL.pureCssMenu UL {
	BORDER-BOTTOM: 0px solid; BORDER-LEFT: 0px solid; PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #313131; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 1px; BACKGROUND-REPEAT: repeat; BORDER-TOP: 0px solid; BORDER-RIGHT: 0px solid; PADDING-TOP: 0px
}
UL.pureCssMenu TABLE {
	BORDER-COLLAPSE: collapse
}
UL.pureCssMenu {
	WIDTH: 95px; ZOOM: 1; DISPLAY: block; FLOAT: left
}
UL.pureCssMenu UL {
	WIDTH: 360px
}
UL.pureCssMenu LI {
	MARGIN: 1px 0px 0px 1px; DISPLAY: block; FONT-SIZE: 0px
}
UL.pureCssMenu A:active {
	OUTLINE-STYLE: none
}
UL.pureCssMenu A:focus {
	OUTLINE-STYLE: none
}
UL.pureCssMenu A {
	BORDER-BOTTOM: #e4e1de 0px solid; TEXT-ALIGN: left; BORDER-LEFT: #e4e1de 0px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #313131; PADDING-LEFT: 0px; PADDING-RIGHT: 4px; ZOOM: 1; DISPLAY: block; FONT: bold 11px Arial; COLOR: #d4d4d4; VERTICAL-ALIGN: middle; BORDER-TOP: #e4e1de 0px solid; CURSOR: default; BORDER-RIGHT: #e4e1de 0px solid; TEXT-DECORATION: none; PADDING-TOP: 4px
}
UL.pureCssMenu LI.dis A:hover {
	BORDER-BOTTOM: #e4e1de 0px solid; TEXT-ALIGN: left; BORDER-LEFT: #e4e1de 0px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #313131; PADDING-LEFT: 0px; PADDING-RIGHT: 4px; ZOOM: 1; DISPLAY: block; FONT: bold 11px Arial; COLOR: #d4d4d4; VERTICAL-ALIGN: middle; BORDER-TOP: #e4e1de 0px solid; CURSOR: default; BORDER-RIGHT: #e4e1de 0px solid; TEXT-DECORATION: none; PADDING-TOP: 4px
}
UL.pureCssMenu LI.sep A:hover {
	BORDER-BOTTOM: #e4e1de 0px solid; TEXT-ALIGN: left; BORDER-LEFT: #e4e1de 0px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #313131; PADDING-LEFT: 0px; PADDING-RIGHT: 4px; ZOOM: 1; DISPLAY: block; FONT: bold 11px Arial; COLOR: #d4d4d4; VERTICAL-ALIGN: middle; BORDER-TOP: #e4e1de 0px solid; CURSOR: default; BORDER-RIGHT: #e4e1de 0px solid; TEXT-DECORATION: none; PADDING-TOP: 4px
}
UL.pureCssMenu SPAN {
	OVERFLOW: hidden
}
UL.pureCssMenu UL LI {
	FLOAT: none
}
UL.pureCssMenu UL A {
	TEXT-ALIGN: left; WHITE-SPACE: nowrap
}
UL.pureCssMenu LI.sep {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 0; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL.pureCssMenu LI.sep SPAN {
	BACKGROUND-IMAGE: none; WIDTH: 100%; PADDING-RIGHT: 0px; DISPLAY: inline-block; FLOAT: none; HEIGHT: 3px
}
UL.pureCssMenu LI:hover {
	POSITION: relative
}
UL.pureCssMenu LI:hover > A {
	BORDER-BOTTOM-STYLE: solid; BORDER-BOTTOM-COLOR: #ffffff; BORDER-RIGHT-STYLE: solid; BACKGROUND-COLOR: #000000; BORDER-TOP-COLOR: #ffffff; FONT: bold 11px Arial; BORDER-TOP-STYLE: solid; COLOR: #eaaf0f; BORDER-RIGHT-COLOR: #ffffff; BORDER-LEFT-STYLE: solid; BORDER-LEFT-COLOR: #ffffff; TEXT-DECORATION: none
}
UL.pureCssMenu LI A:hover {
	POSITION: relative; BORDER-BOTTOM-STYLE: solid; BORDER-BOTTOM-COLOR: #ffffff; BORDER-RIGHT-STYLE: solid; BACKGROUND-COLOR: #000000; BORDER-TOP-COLOR: #ffffff; FONT: bold 11px Arial; BORDER-TOP-STYLE: solid; COLOR: #eaaf0f; BORDER-RIGHT-COLOR: #ffffff; BORDER-LEFT-STYLE: solid; BORDER-LEFT-COLOR: #ffffff; TEXT-DECORATION: none
}
UL.pureCssMenu LI.dis A {
	COLOR: #aaaaaa !important
}
UL.pureCssMenu IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 24px; FLOAT: none; HEIGHT: 24px; BORDER-TOP: medium none; MARGIN-RIGHT: 4px; BORDER-RIGHT: medium none
}
UL.pureCssMenu UL IMG {
	WIDTH: 16px; HEIGHT: 16px
}
UL.pureCssMenu IMG.over {
	DISPLAY: none
}
UL.pureCssMenu LI.dis A:hover IMG.over {
	DISPLAY: none !important
}
UL.pureCssMenu LI.dis A:hover IMG.def {
	DISPLAY: inline !important
}
UL.pureCssMenu LI:hover > A IMG.def {
	DISPLAY: none
}
UL.pureCssMenu LI:hover > A IMG.over {
	DISPLAY: inline
}
UL.pureCssMenu A:hover IMG.over {
	DISPLAY: inline
}
UL.pureCssMenu A:hover UL IMG.def {
	DISPLAY: inline
}
UL.pureCssMenu A:hover A:hover IMG.over {
	DISPLAY: inline
}
UL.pureCssMenu A:hover IMG.def {
	DISPLAY: none
}
UL.pureCssMenu A:hover UL IMG.over {
	DISPLAY: none
}
UL.pureCssMenu A:hover A:hover IMG.def {
	DISPLAY: none
}
UL.pureCssMenu A:hover UL {
	DISPLAY: block
}
UL.pureCssMenu SPAN {
	BACKGROUND-IMAGE: url(/cmr/includes/images/arrow_sub5.gif); PADDING-RIGHT: 12px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right center
}
UL.pureCssMenu LI:hover > A > SPAN {
	BACKGROUND-IMAGE: url(/cmr/includes/images/arrow_main4.gif)
}
UL.pureCssMenu A:hover SPAN {
	BACKGROUND-IMAGE: url("images/arrow_main4.gif")
}
UL.pureCssMenu UL SPAN {
	BACKGROUND-IMAGE: url(/cmr/includes/images/arrow_sub5.gif)
}
UL.pureCssMenu A:hover TABLE SPAN {
	BACKGROUND-IMAGE: url(/cmr/includes/images/arrow_sub5.gif)
}
UL.pureCssMenu UL LI:hover > A SPAN {
	BACKGROUND-IMAGE: url(/cmr/includes/images/arrow_main4.gif)
}
UL.pureCssMenu TABLE A:hover SPAN {
	BACKGROUND-IMAGE: url(/cmr/includes/images/arrow_main4.gif)
}

