vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|09 Sep 2011 23:47:50 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|SlidingBackgroundImageMenu/example8.html
vti_author:SR|CSET0111782\\tlfields
vti_modifiedby:SR|CSET0111782\\tlfields
vti_timecreated:TR|09 Sep 2011 20:16:22 -0000
vti_nexttolasttimemodified:TW|09 Sep 2011 23:44:56 -0000
vti_cacheddtm:TX|09 Sep 2011 23:47:50 -0000
vti_filesize:IR|1515
vti_cachedlinkinfo:VX|S|../images/triangle.png
vti_cachedsvcrellinks:VX|FSUS|SlidingBackgroundImageMenu/images/triangle.png
