vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|15 Apr 2011 18:08:29 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|NSU_LAN\\djones
vti_modifiedby:SR|NSU_LAN\\djones
vti_timecreated:TR|12 Apr 2011 21:00:15 -0000
vti_backlinkinfo:VX|fs/index.html resources.html publications.html index.html
vti_nexttolasttimemodified:TW|15 Apr 2011 18:08:04 -0000
vti_cacheddtm:TX|15 Apr 2011 18:08:29 -0000
vti_filesize:IR|3237
vti_cachedlinkinfo:VX|S|../images/1.jpg S|../images/2.jpg S|../images/3.jpg S|../images/bg1sub.png S|../images/bg2sub.png S|../images/bg3sub.png
vti_cachedsvcrellinks:VX|FSUS|images/1.jpg FSUS|images/2.jpg FSUS|images/3.jpg FSUS|images/bg1sub.png FSUS|images/bg2sub.png FSUS|images/bg3sub.png
