body {
	background-color: #ffffff;
	margin:0px;
	padding:0px;
}
.p {
	margin:0px;
	padding:0px;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	text-align: inherit;
	color: inherit;
	line-height: inherit;
	vertical-align: top;
}
p {
	padding-top:0px;
	margin-top:0px;
}
img {
	border:0px;
}
div {
	margin:0px;
	padding:0px;
	font-family:verdana; font-size:12px;
}
.AbsWrap {
	width: 100%;
	position: relative;
}
.rowWrap {
	width: 100%;
}
.clearfloat {
	clear:both;
	height:0px;
}
a:link, a:visited{
	COLOR:inherit;
	text-decoration:inherit;
}
.main {

	width:660px;
	margin: 0px auto 0px 0px;
	border: 0px solid #f0f0f0;

}
.wrapper {
	width:608px;
	padding-top:0px;
	padding-bottom:1px;
	margin-left:25px;
	margin-top:22px;
	margin-bottom:0px;
	float:left;
	display:inline;

}
.colwrap2 {
	float:left;
	width:207px;
	margin-top:0px;
	margin-left:0px;
	border: 0px solid #f0f0f0;

}
.Heading1 {
	margin-left:7px;
	margin-top:11px;
	width:200px;
	margin-bottom:0px;
	float:left;
	display:inline;

}
.TextField {
	margin-left:17px;
	margin-top:65px;
	width:190px;
	margin-bottom:0px;
	float:left;
	display:inline;

}
.Paragraph {
	margin-left:17px;
	margin-top:13px;
	width:54px;
	margin-bottom:0px;
	float:left;
	display:inline;

}
.content {
	width:358px;
	padding-top:0px;
	padding-bottom:399px;
	margin-right:1px;
	margin-top:0px;
	margin-bottom:0px;
	float:right;
	display:inline;

}
