vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Mar 2011 15:32:06 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|CSET0111782\\tlfields
vti_modifiedby:SR|CSET0111782\\tlfields
vti_timecreated:TR|10 Feb 2011 02:23:40 -0000
vti_nexttolasttimemodified:TW|03 Mar 2011 15:31:07 -0000
vti_backlinkinfo:VX|faculty/faculty_Pradhan.html faculty/pradhanpub.htm faculty/comresearchcen.htm faculty/comresearchlabs.htm faculty/faculty_morsi.html faculty/facultytemplate.html faculty/faculty_Black.html faculty/facultytemplate2.html faculty/faculty_mead.html faculty/EngresearchLab.htm faculty/Morsipub.html faculty/williamspub.html faculty/Meadpub.html faculty/Researchcen.htm faculty/pradhangroup.htm faculty/Engresearchcen.htm faculty/MatresearchLab.htm faculty/Matresearchcen.htm faculty/faculty_williams.html Backup\\ CSS/facultytemplate.html faculty/Noginavpub.htm
vti_cacheddtm:TX|03 Mar 2011 15:32:06 -0000
vti_filesize:IR|2572
