vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|28 Feb 2011 04:12:27 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|Backup\\ CSS/TabsSample/index.html gradtabs.html Backup\\ CSS/TabsSample/gradtabs.html
vti_author:SR|CSET0111782\\tlfields
vti_modifiedby:SR|CSET0111782\\tlfields
vti_timecreated:TR|21 Jul 2010 15:49:34 -0000
vti_cacheddtm:TX|28 Feb 2011 04:12:59 -0000
vti_filesize:IR|9354
vti_cachedlinkinfo:VX|S|/images/mainpage/panel3.jpg S|/images/mainpage/panel3.jpg S|/images/mainpage/panel4.jpg S|/images/mainpage/panel5.jpg S|/images/template/longgradient_L.jpg S|/images/template/longgradient_R.jpg S|/images/mainpage/cruise.gif S|../../images/graphics/prospectivestudents/videoblock.jpg S|../../images/graphics/mynsu/img.php.png
vti_cachedsvcrellinks:VX|NSUS|file:///images/mainpage/panel3.jpg NSUS|file:///images/mainpage/panel3.jpg NSUS|file:///images/mainpage/panel4.jpg NSUS|file:///images/mainpage/panel5.jpg NSUS|file:///images/template/longgradient_L.jpg NSUS|file:///images/template/longgradient_R.jpg NSUS|file:///images/mainpage/cruise.gif NSUS|images/graphics/prospectivestudents/videoblock.jpg NSUS|images/graphics/mynsu/img.php.png
vti_nexttolasttimemodified:TR|21 Jul 2010 15:49:34 -0000
