vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|14 Mar 2011 03:20:08 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|CSET0111782\\tlfields
vti_modifiedby:SR|CSET0111782\\tlfields
vti_timecreated:TR|13 Jan 2011 00:22:46 -0000
vti_nexttolasttimemodified:TR|14 Mar 2011 03:19:43 -0000
vti_backlinkinfo:VX|
vti_cacheddtm:TX|14 Mar 2011 03:20:08 -0000
vti_filesize:IR|6259
vti_cachedlinkinfo:VX|S|/csetgraduate/graphics/background.jpg S|../faculty/sprites.png S|/csetgraduate/graphics/LEFTNAVlongbar.gif S|../csetnews/images/glossyback.gif S|../csetnews/graphics/glossyback2.jif
vti_cachedsvcrellinks:VX|NSUS|file:///csetgraduate/graphics/background.jpg NSUS|faculty/sprites.png NSUS|file:///csetgraduate/graphics/LEFTNAVlongbar.gif FSUS|csetnews/images/glossyback.gif NSUS|csetnews/graphics/glossyback2.jif
