vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 Feb 2011 19:39:45 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|CSET0111782\\tlfields
vti_modifiedby:SR|CSET0111782\\tlfields
vti_timecreated:TR|10 Feb 2011 02:23:40 -0000
vti_backlinkinfo:VX|csetnews/testnews.htm csetnews/csetnews_copy(1).html csetnews/csetnewsscroll2.html eowyn1/csetnews/csetnews_backup_files/csetnews.html eowyn1/csetnews/csetnews.html csetnews/csetnews2.html Backup\\ CSS/csetnews.html csetnews/csetnewsscroll2_copy(1).html csetnews/facultytemplate.html eowyn1/multilevelmenu/menumenu.shtml csetnews/news3.htm csetnews/csetnews_codaslider2.0.html csetnews/csetnews.html
vti_nexttolasttimemodified:TW|11 Feb 2011 00:35:02 -0000
vti_cacheddtm:TX|13 Feb 2011 19:40:25 -0000
vti_filesize:IR|2552
