vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Feb 2011 05:26:40 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|CSET0111782\\tlfields
vti_modifiedby:SR|CSET0111782\\tlfields
vti_timecreated:TR|13 Jan 2011 00:22:46 -0000
vti_nexttolasttimemodified:TR|19 Feb 2011 05:25:55 -0000
vti_backlinkinfo:VX|
vti_cacheddtm:TX|19 Feb 2011 05:26:40 -0000
vti_filesize:IR|5937
vti_cachedlinkinfo:VX|S|/csetgraduate/graphics/background.jpg S|/../graphics/LEFTNAVlongbar.gif S|/csetgraduate/graphics/LEFTNAVlongbar.gif S|/csetgraduate/csetnews/mainheader_topbar.jpg S|images/glossyback.gif S|images/glossyback2.gif
vti_cachedsvcrellinks:VX|NSUS|file:///csetgraduate/graphics/background.jpg NSUS|/../graphics/LEFTNAVlongbar.gif NSUS|file:///csetgraduate/graphics/LEFTNAVlongbar.gif NSUS|file:///csetgraduate/csetnews/mainheader_topbar.jpg FSUS|csetnews/images/glossyback.gif FSUS|csetnews/images/glossyback2.gif
