vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|04 Mar 2011 18:15:52 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|CSET0111782\\tlfields
vti_modifiedby:SR|CSET0111782\\tlfields
vti_timecreated:TR|13 Jan 2011 00:22:46 -0000
vti_nexttolasttimemodified:TW|04 Mar 2011 18:15:44 -0000
vti_backlinkinfo:VX|csetnews/testnews.htm csetnews/csetnews_copy(1).html csetnews/csetnewsscroll2.html eowyn1/csetnews/csetnews_backup_files/csetnews.html eowyn1/csetnews/csetnews.html csetnews/csetnews2.html Backup\\ CSS/csetnews.html csetnews/csetnewsscroll2_copy(1).html csetnews/news3.htm csetnews/csetnews_codaslider2.0.html csetnews/csetnews.html
vti_cacheddtm:TX|04 Mar 2011 18:15:52 -0000
vti_filesize:IR|6605
vti_cachedlinkinfo:VX|S|/csetgraduate/graphics/background.jpg S|/csetgraduate/graphics/LEFTNAVlongbar.gif S|images/glossyback.gif S|graphics/glossyback2.jif S|/csetgraduate/csetnews/mainheader_topbar.jpg
vti_cachedsvcrellinks:VX|NSUS|file:///csetgraduate/graphics/background.jpg NSUS|file:///csetgraduate/graphics/LEFTNAVlongbar.gif FSUS|csetnews/images/glossyback.gif NSUS|csetnews/graphics/glossyback2.jif NSUS|file:///csetgraduate/csetnews/mainheader_topbar.jpg
