vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|21 Feb 2011 04:03:49 -0000
vti_extenderversion:SR|6.0.2.8161
vti_modifiedby:SR|CSET0111782\\tlfields
vti_nexttolasttimemodified:TW|21 Feb 2011 04:02:50 -0000
vti_backlinkinfo:VX|
vti_author:SR|CSET0111782\\tlfields
vti_timecreated:TR|21 Feb 2011 03:31:00 -0000
vti_cacheddtm:TX|21 Feb 2011 04:03:56 -0000
vti_filesize:IR|2683
vti_cachedlinkinfo:VX|S|images/btn_prev.gif S|images/btn_next.gif
vti_cachedsvcrellinks:VX|FSUS|csetnews/images/btn_prev.gif FSUS|csetnews/images/btn_next.gif
