vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Feb 2011 16:15:03 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|CSET0111782\\tlfields
vti_modifiedby:SR|CSET0111782\\tlfields
vti_timecreated:TR|30 Jan 2011 18:17:46 -0000
vti_backlinkinfo:VX|csetnews/testnews.htm Backup\\ CSS/csetnews.html
vti_nexttolasttimemodified:TW|12 Feb 2011 16:15:24 -0000
vti_cacheddtm:TX|12 Feb 2011 16:15:38 -0000
vti_filesize:IR|6181
vti_cachedlinkinfo:VX|S|images/plus.png S|images/white-opacity-80.png S|images/white-opacity-80.png S|../images/arrows-small.png
vti_cachedsvcrellinks:VX|FSUS|csetnews/images/plus.png FSUS|csetnews/images/white-opacity-80.png FSUS|csetnews/images/white-opacity-80.png NSUS|images/arrows-small.png
