body {
	
	background-image: url(/csetgraduate/graphics/background.jpg);
	background-position:50% 20%; 
    background-repeat: repeat-x;
	background-color: #ffffff;
	padding:0;
	margin:0;	
	font-family:arial, geneva,verdana, sans-serif;
	text-align:center;}
	
	
#frame {	
	margin-left:auto;
	margin-right:auto;
	background-color:#eaaf0f;
	text-align:left;
	width:772px;}

#page {
	margin:0px 0px 0px 0px;}

	
	
	
p {
font-size:11px;
color:505050;
}


	.section1 {
		float:left;
        width:220px;
		margin:5px;
		padding:5px,10px,05px,10px; 
		border-top:none;
		border-bottom:1px solid #808080;}

    .section2 {
		float:left;
        width:295px;
		margin:5px; 
		border-top:none;
		border-bottom:1px solid #808080;}

    .topcontent {
		float:left;
        width:490px;
		margin:0px 0px 0px 0px; 
		border-top:none;
		border-bottom:1px solid #808080;
		}

    .bottom1content {
		float:left;
        width:240px;
		margin:0px 0px 0px 0px; 
		border-top:none;
		border-bottom:1px solid #808080;
		}



    .section3 {
		float:left;
        width:175px;
		margin:0px;
		padding:5px; 
		border-top:none;
		border-bottom:1px solid #808080;}

      

    .spaced h4{
		margin:5px 5px 5px 5px;
		font-size:11px;
	    font-family:arial;
	    font-weight: 900;
     	color: #e7573b;
	    margin-bottom:0px;
	}
       
     .spaced h3{
		margin:5px 0px 5px 0px;
		font-size:14px;
	    font-family:times;
	    font-weight: 900;
     	color: #e7573b;
	    margin-bottom:0px;
	}
   

    .spaced p {
				margin:0px 0px 0px 0px;}
		

    .spaced .links a {
	font-weight: bold;
	color: #ff0000;
	align:right;
}



h1 { 
font-size: 44px; 
font-family:arial,geneva,hevetica}

h2 { font-size: 12px;
	font-weight: 900;
	color;
 }

h3 {font-size: 19px;
	font-weight: 600;
	color:#007a5e;
 }
 


/* 3 columns */



.leftcolumn{
	float:left;
	width:250px;
	background-color:#ececec;
	padding:0px;
	margin-top:0px;
	margin-right:1px;
	margin-left:0px;

	}

.topcolumn{
	float:left;
	width:500px;
	
	background-color:#ff0000;
	padding:10px;
	margin-top:0px;
	margin-right:1px;
	margin-left:0px;
	margin-bottom:0px;
	}
	

.bottomcolumn1{
	float:left;
	width:255px;
	background-color:#023a67;
	padding:10px;
	margin-top:0px;
	margin-right:1px;
	margin-left:0px;}
	
	
.bottomcolumn2{
	float:left;
	width:255px;
	background-color:#ffffff;
	padding:10px;
	margin-top:0px;
	margin-right:1px;
	margin-left:0px;}

	
.middlecolumn{
	float:left;
	width:250px;
	background-color:#ffffff;
	padding:10px;
	margin-top:0px;
	margin-right:1px;
	margin-left:0px;

	}

		
.rightcolright {
	float:left;
	width:188px;
	background-color:#ffffff;
	padding:5px;
	margin-top:0px;
	margin-left:0;
	margin-right:0;
	}
.longbar {
	float:left;
	width:2px;
	background-image: url(/csetgraduate/graphics/panel.jpg);
	background-repeat: repeat-y; 
	background-color: #ffffff;
	padding:0px;0px;0px,0px;	
	margin:0px;
	verticle-align:center;	
		
}