vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|18 Jan 2011 23:43:06 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|CSET0111782\\tlfields
vti_modifiedby:SR|CSET0111782\\tlfields
vti_timecreated:TR|13 Jan 2011 00:22:46 -0000
vti_nexttolasttimemodified:TR|14 Jan 2011 23:57:45 -0000
vti_cacheddtm:TX|18 Jan 2011 23:43:06 -0000
vti_filesize:IR|3356
vti_cachedlinkinfo:VX|S|/csetgraduate/graphics/background.jpg S|/csetgraduate/graphics/LEFTNAVlongbar.gif S|/csetgraduate/graphics/LEFTNAVlongbar.gif
vti_cachedsvcrellinks:VX|NSUS|file:///csetgraduate/graphics/background.jpg NSUS|file:///csetgraduate/graphics/LEFTNAVlongbar.gif NSUS|file:///csetgraduate/graphics/LEFTNAVlongbar.gif
vti_backlinkinfo:VX|
