vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|21 Feb 2011 04:53:24 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|CSET0111782\\tlfields
vti_modifiedby:SR|CSET0111782\\tlfields
vti_timecreated:TR|20 Feb 2011 01:23:28 -0000
vti_backlinkinfo:VX|csetnews/Content\\ Slider\\ Bugs/FeaturedContentSliderAll/FeaturedContentSlider/index.html
vti_nexttolasttimemodified:TR|20 Feb 2011 01:30:07 -0000
vti_cacheddtm:TX|20 Feb 2011 01:23:28 -0000
vti_filesize:IR|2140
vti_cachedlinkinfo:VX|S|images/bg.png S|images/transpBlack.png S|images/icon-uparrowsmallwhite.png
vti_cachedsvcrellinks:VX|FSUS|csetnews/Content\\ Slider\\ Bugs/FeaturedContentSliderAll/FeaturedContentSlider/images/bg.png FSUS|csetnews/Content\\ Slider\\ Bugs/FeaturedContentSliderAll/FeaturedContentSlider/images/transpBlack.png FSUS|csetnews/Content\\ Slider\\ Bugs/FeaturedContentSliderAll/FeaturedContentSlider/images/icon-uparrowsmallwhite.png
