A:link {
	TEXT-DECORATION: underline
}
A:visited {
	TEXT-DECORATION: underline
}
A:hover {
	TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: underline
}
#container {
	POSITION: absolute; WIDTH: 1280px; HEIGHT: 1024px; TOP: 0px; LEFT: 0px
}
#mainbanner {
	POSITION: absolute; WIDTH: 1280px; HEIGHT: 137px; TOP: 0px; LEFT: 0px
}
#id02 {
	POSITION: absolute; WIDTH: 243px; HEIGHT: 887px; TOP: 137px; LEFT: 0px
}
#page-header {
	POSITION: absolute; BACKGROUND-COLOR: #e6e6e6; WIDTH: 776px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 39px; TOP: 137px; LEFT: 243px
}
#page-header H2 {
	MARGIN-TOP: 8px; FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif; COLOR: #f4aa00; MARGIN-LEFT: 12px; FONT-SIZE: 18px
}
#id04 {
	POSITION: absolute; WIDTH: 261px; HEIGHT: 887px; TOP: 137px; LEFT: 1019px
}
#banner {
	POSITION: absolute; WIDTH: 776px; HEIGHT: 223px; TOP: 176px; LEFT: 243px
}
#page-nav {
	POSITION: absolute; WIDTH: 776px; HEIGHT: 33px; TOP: 399px; LEFT: 243px
}
#content-area {
	BACKGROUND-IMAGE: url(images/1px-content-gold.jpg); POSITION: absolute; WIDTH: 776px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 592px; COLOR: #666; TOP: 432px; LEFT: 243px
}
BODY {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #666; FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #f7e4bb; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; COLOR: #007a5e; FONT-SIZE: 16px; FONT-WEIGHT: 400; PADDING-TOP: 5px
}
A {
	COLOR: #007a5e
}
#column01 UL {
	LIST-STYLE-TYPE: circle; LIST-STYLE-IMAGE: none
}
H4 {
	COLOR: #f4aa00; FONT-SIZE: 14px; FONT-WEIGHT: 400
}
#column02 TABLE TR {
	FONT-SIZE: 12px; VERTICAL-ALIGN: top
}
#column01 {
	Z-INDEX: 1; POSITION: absolute; WIDTH: 186px; HEIGHT: 400px; TOP: 16px; LEFT: 12px
}
#column02 {
	Z-INDEX: 1; POSITION: absolute; WIDTH: 300px; HEIGHT: 438px; TOP: 16px; LEFT: 243px
}
#column03 {
	Z-INDEX: 1; POSITION: absolute; WIDTH: 193px; HEIGHT: 400px; TOP: 16px; LEFT: 572px
}
.green {
	COLOR: #007a5e
}
.light-gold {
	COLOR: #f6dd9a
}
.sb-gray {
	COLOR: #b9b9b9
}
.dept-gray {
	COLOR: #e6e6e6
}
.img-space {
	MARGIN-BOTTOM: 13px; MARGIN-RIGHT: 13px
}
#column02 P {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
