



body {
			
	background-image: url(/csetgraduate/graphics/background.jpg);
	background-position:80% 5%; 
    background-repeat: repeat-x;
	background-color: #ffffff;
	padding:0;
	margin:0;	
	font-family:arial, geneva,verdana, sans-serif;
	text-align:center;
	}
	
	
#frame {	
	margin-left:auto;
	margin-top:0px;
	margin-bottom:0px;
	margin-right:auto;
	background-color:#ff0000;
	text-align:left;
	padding:0px;
	width:772px;}
	
p {
font-size:11px;
color:505050;
}





#banner  {

float:left;
width:772px;
height:280px;
background-color: #959595;
margin:0px 0px 0px 0px; 
border-top:none;
padding: 0px 0px 0px 0px;
border-left:0px;
border-right:0px;
border-bottom-style:solid;
border-bottom-color:#b8860b;
border-bottom-width:1px;
		}


#menuarea {
        float:left;
        width:200px;
        height:280px;
        background-color: #ffffff;
		margin:0px;
     	padding: 0px 0px 0px 0px;
		border-top:none;
		border-bottom:1px solid #808080;
		}

 #bannerslide {
		float:right;
        width:572px;
        height:280px;
		margin:0px 0px 0px 0px; 
		border-top:none;
		padding: 0px px 0px px;
		border-left:0px;
		border-right:0px;
		border-bottom-style:solid;
		border-bottom-width:1px;
	    background-color: #ffffff;

		}




	.rightcontent {
		float:left;
        width:220px;
		margin:0px;
		padding:0px 0px 0px 0px; 
		border-top:none;
		border-bottom:1px solid #808080;
		}

    .topcontent {
		float:left;
        width:500px;
		margin:0px 0px 0px 0px; 
		border-top:none;
		padding: 0px 10px 0px 0px;
		border-left:0px;
		border-right:0px;
		border-bottom-style:solid;
		border-bottom-width:1px;
		}

    .bottom2content {
		float:left;
        width:238px;
		margin:0px 0px 0px 0px; 
		padding:0px 5px 0px 7px;
		border-bottom-style:solid;		
		border-bottom-color:#808080;
		border-bottom-width:1px;
		color:#ffffff;
		}

     .bottom1content {
		float:left;
        width:235px;
		margin:0px 0px 0px 0px; 
		padding:0px 5px 0px 10px;
		border-top:0px;
		border-bottom:1px solid #808080;		
		}

  

    .spaced h4 {
		margin:5px 5px 5px 5px;
		font-size:12px;
	    font-family:arial;
	    font-weight: 900;
     	color: #007a53;
	    margin: 10px 0px 10px 5px;
	}
       
     .spaced h3 {
		margin:5px 0px 5px 0px;
		font-size:16px;
	    font-family:times;
	    font-weight: 900;
     	color:#007a5e;
	    margin-bottom:10px;
	    
	}
   

    .spaced p {
				margin:0px 0px 0px 0px;}
		

    .spaced .links a {
	font-weight: bold;
	color: #ff0000;
	align:right;
}



h1 { 
font-size: 44px; 
font-family:arial,geneva,hevetica}

h2 { font-size: 12px;
	font-weight: 900;
	 }

h3 {font-size: 16px;
    font-family:times,arial;
	font-weight: 600;
	color:#007a5e;
 }
 





.rightcolumn {
	float:right;
	width:248px;
	background-color:#ffffff;
	padding:0px;
	margin:0px 0px 0px 0px;
	}

.topcolumn {
	float:left;
	width:521px;
	background-color:#ffffff;
	margin:0px 0px 0px 0px;
	border-top:0px;
	border-left:0px;
	border-bottom-style:solid;
	border-bottom-width:1px;	
	}

.bottomcolumns (
    float:relative;
	width:521px;
	background-color:#ffffff;
	margin:0px 0px 0px 0px;
	border-top:0px;
	border-right:1px;
	border-right-color:#707070;
	}

.bottomcolumn2 {
	float:left;
	width:259px;
	background-color:#ffffff;
	padding:0px;
	margin:0px 0px 0px 0px;
	border-right-style:solid;
	border-right-width:1px;	
	border-right-color:#ececec;
	
	}
	
	
.bottomcolumn1 {
	float:left;
	width:259px;
	background-color:#ffffff;
	padding:0px;
	margin:0px 0px 0px 0px;
	border-right-style:solid;
	border-right-width:1px;	
	border-right-color:#ececec;
	
		}
	
.longbar {
	float:left;
	width:3px;
	background-image: url("../graphics/LEFTNAVlongbar.gif");
	background-repeat:repeat-y;
	background-color: #ffffff;
	margin:0px;
}

.longbar2 {
	float:left;
	width:3px;
	background-image: url(/csetgraduate/graphics/LEFTNAVlongbar.gif);
	background-repeat:repeat-y;
	background-color: #ffffff;
	margin:0px;
}



.slideshowimage1 {
    float:left;
	width:550px;
	height:300px;
	text-align:left;
	background-color: #fffff00;
	padding:5px 0px 5px 0px;	
	margin:5px 0px 0px 0px;			
}



.slideshowimage2 {
    float:left;
	width:240px;
	height:300px;
	background-color: #ececec;
	padding:0px 5px 0px 5px;	
	margin:5px 2px 0px 2px;			
}

.slideshowimage3 {
    float:left;
	width:450px;
	height:390px;
	background-color: #ececec;
	padding:0px 5px 10px 5px;	
	margin:10px 0px 0px 0px;			
}


.slideshowimage4 {
    float:left;
	width:550px;
	height:300px;
	text-align:left;
	background-color: #fffff00;
	padding:5px 0px 5px 0px;	
	margin:5px 0px 0px 0px;			
}