vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|18 Mar 2011 02:21:25 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|CSET0111782\\tlfields
vti_modifiedby:SR|CSET0111782\\tlfields
vti_timecreated:TR|06 Mar 2011 03:22:13 -0000
vti_nexttolasttimemodified:TR|06 Mar 2011 03:43:51 -0000
vti_cacheddtm:TX|18 Mar 2011 02:20:47 -0000
vti_filesize:IR|2320
vti_cachedlinkinfo:VX|S|arrow-up-title.jpg S|arrow-up-title-on.jpg S|arrow-down-title.jpg S|arrow-down-title-on.jpg
vti_cachedsvcrellinks:VX|FSUS|Backup\\ CSS/faculty/xpmenuv2_2/arrow-up-title.jpg FSUS|Backup\\ CSS/faculty/xpmenuv2_2/arrow-up-title-on.jpg FSUS|Backup\\ CSS/faculty/xpmenuv2_2/arrow-down-title.jpg FSUS|Backup\\ CSS/faculty/xpmenuv2_2/arrow-down-title-on.jpg
vti_backlinkinfo:VX|Backup\\ CSS/faculty/xpmenuv2_2/menu.htm
