vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|06 Mar 2011 03:43:51 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|CSET0111782\\tlfields
vti_modifiedby:SR|CSET0111782\\tlfields
vti_timecreated:TR|06 Mar 2011 03:22:13 -0000
vti_backlinkinfo:VX|faculty/xpmenuv2_2/menu.htm
vti_nexttolasttimemodified:TW|06 Mar 2011 03:22:13 -0000
vti_cacheddtm:TX|06 Mar 2011 03:43:46 -0000
vti_filesize:IR|2320
vti_cachedlinkinfo:VX|S|arrow-up-title.jpg S|arrow-up-title-on.jpg S|arrow-down-title.jpg S|arrow-down-title-on.jpg
vti_cachedsvcrellinks:VX|FSUS|faculty/xpmenuv2_2/arrow-up-title.jpg FSUS|faculty/xpmenuv2_2/arrow-up-title-on.jpg FSUS|faculty/xpmenuv2_2/arrow-down-title.jpg FSUS|faculty/xpmenuv2_2/arrow-down-title-on.jpg
