vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|28 Feb 2011 04:11:17 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|CMR.htm
vti_author:SR|CSET0111782\\tlfields
vti_modifiedby:SR|CSET0111782\\tlfields
vti_timecreated:TR|25 Jan 2011 17:41:26 -0000
vti_cacheddtm:TX|28 Feb 2011 04:11:50 -0000
vti_filesize:IR|13243
vti_cachedlinkinfo:VX|S|/images/mainpage/panel3.jpg S|/images/mainpage/panel3.jpg S|/images/mainpage/panel4.jpg S|/images/mainpage/panel5.jpg S|/images/template/longgradient_L.jpg S|/images/template/longgradient_R.jpg S|/images/mainpage/cruise.gif S|../../images/graphics/prospectivestudents/videoblock.jpg S|../../images/graphics/mynsu/img.php.png S|../../images/graphics/mynsu/img.php.png S|../../images/graphics/mynsu/img.php.png S|../../images/graphics/mynsu/img.php.png
vti_cachedsvcrellinks:VX|NSUS|file:///images/mainpage/panel3.jpg NSUS|file:///images/mainpage/panel3.jpg NSUS|file:///images/mainpage/panel4.jpg NSUS|file:///images/mainpage/panel5.jpg NSUS|file:///images/template/longgradient_L.jpg NSUS|file:///images/template/longgradient_R.jpg NSUS|file:///images/mainpage/cruise.gif NSUS|images/graphics/prospectivestudents/videoblock.jpg NSUS|images/graphics/mynsu/img.php.png NSUS|images/graphics/mynsu/img.php.png NSUS|images/graphics/mynsu/img.php.png NSUS|images/graphics/mynsu/img.php.png
vti_nexttolasttimemodified:TR|25 Jan 2011 17:41:26 -0000
