vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Feb 2011 14:50:30 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|csetnews/InfoGrid/InfoGrid/index.html
vti_author:SR|CSET0111782\\tlfields
vti_modifiedby:SR|CSET0111782\\tlfields
vti_timecreated:TR|25 Feb 2011 14:37:29 -0000
vti_nexttolasttimemodified:TW|25 Feb 2011 14:37:29 -0000
vti_cacheddtm:TX|25 Feb 2011 14:50:30 -0000
vti_filesize:IR|1899
vti_cachedlinkinfo:VX|S|../images/batman.jpg S|../images/spiderman.jpg S|../images/aquaman.jpg S|../images/ironman.jpg S|../images/superman.jpg
vti_cachedsvcrellinks:VX|FSUS|csetnews/InfoGrid/InfoGrid/images/batman.jpg FSUS|csetnews/InfoGrid/InfoGrid/images/spiderman.jpg FSUS|csetnews/InfoGrid/InfoGrid/images/aquaman.jpg FSUS|csetnews/InfoGrid/InfoGrid/images/ironman.jpg FSUS|csetnews/InfoGrid/InfoGrid/images/superman.jpg
